<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>thoughtbot Middleman Template</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="site">
    <header class="site__header">
      <%= partial "partials/header" %>
    </header>

    <main class="site__main" role="main">
      <section class="section section--padded">
        <article class="section__content--slim article">
          <%= yield %>
        </article>
      </section>
    </main>

    <footer class="site__footer">
      <%= partial "partials/footer" %>
    </footer>

    <%= partial "partials/analytics" %>
  </body>
</html>
