<section class="section section--padded section--dark-bkgd">
  <div class="section__content section__content--centered">
    <h1>
      Playing cards as naughty as&nbsp;you.
    </h1>

    <p>
      The sexiest, decks-iest fun you'll&nbsp;ever&nbsp;have.
    </p>
  </div>
</section>

<section class="section section--padded">
  <div class="section__content">
    <div class="promo">
      <div class="promo__body">
        <h2>
          Intimate.
        </h2>

        <p>
          Create incredible memories. Little Black Deck makes it
          easy to get together, get comfortable and then get your freak on.
        </p>
      </div>

      <picture class="promo__media promo__media--right">
        <%= image_tag 'brand/intimate.png',
          class: "image--cover"
        %>
      </picture>
    </div>

    <div class="promo">
      <div class="promo__body">
        <h2>
          Inclusive.
        </h2>

        <p>
          You're a damn sexy beast and we know it. Little Black Deck is
          designed for us all — every shake, every shape, every shade.
        </p>
      </div>

      <picture class="promo__media promo__media--left">
        <%= image_tag 'brand/inclusive.png',
          class: "image--cover"
        %>
      </picture>
    </div>

    <div class="promo">
      <div class="promo__body">
        <h2>
          Inexhaustible.
        </h2>

        <p>
          Never play the same game twice. Little Black Deck stimulates
          the most erotic force of nature — your own imagination.
        </p>
      </div>

      <picture class="promo__media promo__media--right">
        <%= image_tag 'brand/inexhaustible.png',
          class: "image--cover"
        %>
      </picture>
    </div>
  </div>
</section>

<section class="section section--padded section--dark-bkgd">
  <div id="rules" class="section__content section__content--centered">
    <h2>
      A thousand ways to play.
    </h2>

    <p>
      Not sure how to use Little Black Deck?<br />We've got you (un)covered.
    </p>

<<<<<<< HEAD
    <%= partial "partials/games-list", locals: {
      classes: "u-columns--3"
    } %>
=======
    <%= data.decks.swan.clubs %>

    <hr />
>>>>>>> Add sample YAML data
  </div>
</section>
